#Spyder project
.spyproject/

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Django stuff:
*.log

#Secret key file
secrets.json

#env
.env